In [1]:
import pandas as pd
import numpy as np

# TASK_5

In [3]:
df = pd.read_csv('processed_data.csv', index_col = 'id')
df.head()

,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration
id,,,,,
id2875421,1,930.399753,0,1.500479,6.122493
id2377394,0,930.399753,0,1.807119,6.498282
id3858529,1,930.399753,0,6.392080,7.661527
id3504673,1,930.399753,0,1.487155,6.063785
id2181028,1,930.399753,0,1.189925,6.077642

In [11]:
X = df.drop('log_trip_duration', axis = 1)
Y = df['log_trip_duration']

In [13]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

In [134]:
selector = KFold(n_splits = 4)

In [18]:
Losses_Test = []

for train_index, test_index in selector.split(X):
    X_train, X_test = X.values[train_index], X.values[test_index]
    Y_train, Y_test = Y.values[train_index], Y.values[test_index]
    
    mod = LinearRegression()
    mod.fit(X_train, Y_train)
    
    Losses_Test.append(np.mean((mod.predict(X_test) - Y_test)**2))

In [22]:
LMSE = np.mean(Losses_Test)
LMSE

0.4257993989483306

# TASK_6

In [26]:
new_features = pd.read_csv('new_data.csv', index_col = 'id')
new_features.head()

,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20
id,,,,,,,,,,,,,,,,,,,,,
id2875421,1,930.399753,0,1.500479,6.122493,1,1,1,1,1,...,0,0,0,0,0,1.500479,2.251437,3.378234,5.068969,7.605881
id2377394,0,930.399753,0,1.807119,6.498282,0,0,0,0,0,...,0,0,0,0,0,1.807119,3.265681,5.901475,10.664670,19.272331
id3858529,1,930.399753,0,6.392080,7.661527,1,1,1,1,1,...,0,0,0,0,0,6.392080,40.858690,261.172025,1669.432545,10671.146803
id3504673,1,930.399753,0,1.487155,6.063785,1,1,1,1,1,...,0,0,0,0,0,1.487155,2.211629,3.289035,4.891303,7.274125
id2181028,1,930.399753,0,1.189925,6.077642,1,1,1,1,1,...,0,0,0,0,0,1.189925,1.415923,1.684842,2.004837,2.385606

In [135]:
X = new_features.drop('log_trip_duration', axis = 1)
Y = new_features['log_trip_duration']

In [136]:
los_test = []

select = KFold(n_splits = 5)

for train_index, test_index in select.split(X):
    X_train, X_test = X.values[train_index], X.values[test_index]
    Y_train, Y_test = Y.values[train_index], Y.values[test_index]
    
    mod = LinearRegression()
    mod.fit(X_train, Y_train)
    los_test.append(np.mean((mod.predict(X_test) - Y_test)**2))
    
los_test

[718.4257830239494,
 0.3465893975846683,
 0.34825704731351814,
 13.621184140456336,
 0.34472513569483815]

In [86]:
np.mean(los_test)

146.61730774899974

# TASK_7

In [34]:
X.shape

(1458644, 24)

In [32]:
np.linalg.matrix_rank(X)

5

# TASK_8

In [167]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Lasso

# Lasso. Example.

In [145]:
new_features = pd.read_csv('new_data.csv', index_col = 'id')
new_features.head()

,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,feature_1,feature_2,feature_3,feature_4,feature_5,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20
id,,,,,,,,,,,,,,,,,,,,,
id2875421,1,930.399753,0,1.500479,6.122493,1,1,1,1,1,...,0,0,0,0,0,1.500479,2.251437,3.378234,5.068969,7.605881
id2377394,0,930.399753,0,1.807119,6.498282,0,0,0,0,0,...,0,0,0,0,0,1.807119,3.265681,5.901475,10.664670,19.272331
id3858529,1,930.399753,0,6.392080,7.661527,1,1,1,1,1,...,0,0,0,0,0,6.392080,40.858690,261.172025,1669.432545,10671.146803
id3504673,1,930.399753,0,1.487155,6.063785,1,1,1,1,1,...,0,0,0,0,0,1.487155,2.211629,3.289035,4.891303,7.274125
id2181028,1,930.399753,0,1.189925,6.077642,1,1,1,1,1,...,0,0,0,0,0,1.189925,1.415923,1.684842,2.004837,2.385606

In [146]:
X = new_features.drop('log_trip_duration', axis = 1)
Y = new_features['log_trip_duration']

In [206]:
scores = []

selector = KFold(n_splits = 4)

for train_index, test_index in selector.split(X):
    
    X_train, X_test = X.values[train_index], X.values[test_index]
    Y_train, Y_test = Y.values[train_index], Y.values[test_index]
    
    scaler = MinMaxScaler()
    scaler.fit(X_train)
    
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    model_lasso = Lasso(alpha=0.00007, max_iter=100000)
    model_lasso.fit(X_train_scaled, Y_train)
    
    predictions = model_lasso.predict(X_test_scaled)
    
    scores.append(np.mean((predictions - Y_test)**2))
    print(scores)
    
print(f'MSLE на кросс-валидации равен: {np.mean(scores)}')

[0.39504630400686597]
[0.39504630400686597, 0.3962081290218475]
[0.39504630400686597, 0.3962081290218475, 0.4137916061082812]
[0.39504630400686597, 0.3962081290218475, 0.4137916061082812, 0.39249622519550437]
MSLE на кросс-валидации равен: 0.39938556608312475

In [207]:
model_lasso.alpha

7e-05

# Ridge. Example.

In [64]:
from sklearn.linear_model import Ridge

In [165]:
selector = KFold(n_splits = 4)

In [222]:
scores = []
scores_train = []

for train_index, test_index in selector.split(X):
    X_train, X_test = X.values[train_index], X.values[test_index]
    Y_train, Y_test = Y.values[train_index], Y.values[test_index]
    
    scaler = MinMaxScaler()
    scaler.fit(X_train)
    
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    model_ridge = Ridge(alpha=0.401, max_iter=100000)
    model_ridge.fit(X_train_scaled, Y_train)
    
    predictions = model_ridge.predict(X_test_scaled)
    #predictions_train = model_ridge.predict(X_train_scaled)
    
    scores.append(np.mean((predictions - Y_test)**2))
    #scores_train.append(np.mean((predictions_train - Y_train)**2))
    
print(f'MSLE на кросс-валидации при использовании Ridge на тесте равен: {np.mean(scores)}')
#print(f'MSLE на кросс-валидации при использовании Ridge на трейне равен: {np.mean(scores_train)}')

MSLE на кросс-валидации при использовании Ridge на тесте равен: 0.39999213109653736