In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('taxi_dataset_with_predictions.csv')

In [6]:
df.head(10)

,id,vendor_id,pickup_datetime,passenger_count,store_and_fwd_flag,trip_duration,distance_km,prediction_1,prediction_2
0,id2875421,1,2016-03-14 17:24:55,930.399753,0,455.0,1.500479,578.156451,355.270710
1,id2377394,0,2016-06-12 00:43:35,930.399753,0,663.0,1.807119,962.657188,674.295781
2,id3858529,1,2016-01-19 11:35:24,930.399753,0,2124.0,6.392080,2546.180515,2422.132431
3,id3504673,1,2016-04-06 19:32:31,930.399753,0,429.0,1.487155,737.926214,795.992362
4,id2181028,1,2016-03-26 13:30:55,930.399753,0,435.0,1.189925,666.070794,-4.158492
5,id0801584,1,2016-01-30 22:01:40,1061.355223,0,443.0,1.100107,599.836514,229.013426
6,id1813257,0,2016-06-17 22:34:59,1053.529749,0,341.0,1.327852,582.154343,782.213025
7,id1324603,1,2016-05-21 07:54:58,930.399753,0,1551.0,5.722427,1861.641036,2240.733287
8,id1301050,0,2016-05-27 23:12:23,930.399753,0,255.0,1.311541,588.814557,673.182210
9,id0012891,1,2016-03-10 21:45:01,930.399753,0,1225.0,5.126939,1467.752477,1545.515488

# MSE

In [9]:
MSE_1 = ((df['prediction_1'] - df['trip_duration'])**2).mean()
MSE_2 = ((df['prediction_2'] - df['trip_duration'])**2).mean()
print(MSE_1, MSE_2)

99994.4510336451 124936.14931386831

# RMSE

In [10]:
RMSE_1 = MSE_1**0.5
RMSE_2 = MSE_2**0.5
print(RMSE_1, RMSE_2)

316.21899220895176 353.4630805527903

# MAE

In [12]:
MAE_1 = (abs(df['prediction_1'] - df['trip_duration'])).mean()
MAE_2 = (abs(df['prediction_2'] - df['trip_duration'])).mean()
print(MAE_1, MAE_2)

300.08362668457136 281.9734452458987

# N errors > 500

In [17]:
N_Errors1 = 0
for i in range(len(df['trip_duration'])):
    if abs(df['prediction_1'][i] - df['trip_duration'][i]) > 500:
        N_Errors1 += 1
        
print(N_Errors1)

33061

In [18]:
N_Errors2 = 0
for i in range(len(df['trip_duration'])):
    if abs(df['prediction_2'][i] - df['trip_duration'][i]) > 500:
        N_Errors2 += 1

print(N_Errors2)

228789

# RMSLE

In [24]:
df['prediction_1'] = df['prediction_1'].apply(lambda x: max(x, 0))
df['prediction_2'] = df['prediction_2'].apply(lambda x: max(x, 0))

In [32]:
RMSLE_1 = (((np.log1p(df['prediction_1']) - np.log1p(df['trip_duration']))**2).mean())**0.5
RMSLE_2 = np.sqrt(((np.log1p(df['prediction_2']) - np.log1p(df['trip_duration']))**2).mean())

print(RMSLE_1, RMSLE_2)

0.5537581774590482 1.5564340528341787

# Перепредсказания и недопредсказания

In [36]:
pred1_plus = 0
pred1_minus = 0
for i in range(len(df['trip_duration'])):
    if df['prediction_1'][i] - df['trip_duration'][i] > 0:
        pred1_plus += 1
    else:
        pred1_minus += 1
        
print(pred1_plus, pred1_minus)

pred2_plus = 0
pred2_minus = 0
for i in range(len(df['trip_duration'])):
    if df['prediction_2'][i] - df['trip_duration'][i] > 0:
        pred2_plus += 1
    else:
        pred2_minus += 1
        
print(pred2_plus, pred2_minus)

1456721 1923
811778 646866