In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# LinearRegression

In [2]:
df = pd.read_csv('taxi_dataset_with_target.csv')
df.head(10)

,id,vendor_id,pickup_datetime,passenger_count,store_and_fwd_flag,trip_duration,distance_km
0,id2875421,1,2016-03-14 17:24:55,930.399753,0,455.0,1.500479
1,id2377394,0,2016-06-12 00:43:35,930.399753,0,663.0,1.807119
2,id3858529,1,2016-01-19 11:35:24,930.399753,0,2124.0,6.392080
3,id3504673,1,2016-04-06 19:32:31,930.399753,0,429.0,1.487155
4,id2181028,1,2016-03-26 13:30:55,930.399753,0,435.0,1.189925
5,id0801584,1,2016-01-30 22:01:40,1061.355223,0,443.0,1.100107
6,id1813257,0,2016-06-17 22:34:59,1053.529749,0,341.0,1.327852
7,id1324603,1,2016-05-21 07:54:58,930.399753,0,1551.0,5.722427
8,id1301050,0,2016-05-27 23:12:23,930.399753,0,255.0,1.311541
9,id0012891,1,2016-03-10 21:45:01,930.399753,0,1225.0,5.126939

In [3]:
X = df[['vendor_id', 'passenger_count', 'store_and_fwd_flag', 'distance_km']]
Y = df[['trip_duration']]

In [4]:
model = LinearRegression().fit(X, Y)

In [5]:
print(model.coef_, model.intercept_)

[[198.46313674   0.29631295  56.46912165 115.27353763]] [171.65658146]

# Function LinearRegressionByMatrix

In [ ]:
–¢–µ–ø–µ—Ä—å —Ä–µ–∞–ª–∏–∑—É–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é LinearRegressionByMatrix, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å –Ω–∞ –≤—Ö–æ–¥ 3 –ø–∞—Ä–∞–º–µ—Ç—Ä–∞:

–ú–∞—Ç—Ä–∏—Ü—É –æ–±—ä–µ–∫—Ç-–ø—Ä–∏–∑–Ω–∞–∫ (X), –≤–µ–∫—Ç–æ—Ä —Å –æ—Ç–≤–µ—Ç–∞–º–∏ (Y), –±—É–ª–µ–≤—ã–π –ø–∞—Ä–∞–º–µ—Ç—Ä fit_intercept, —Ü–µ–ª—å –∫–æ—Ç–æ—Ä–æ–≥–æ - –¥–æ–±–∞–≤–∏—Ç—å –∫–æ–Ω—Å—Ç–∞–Ω—Ç–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫ (—Å–æ—Å—Ç–æ—è—â–∏–π –∏–∑ –µ–¥–∏–Ω–∏—á–µ–∫), –µ—Å–ª–∏ True, –∏ –Ω–∏—á–µ–≥–æ –Ω–µ –¥–µ–ª–∞—Ç—å, –µ—Å–ª–∏ False.

–§—É–Ω–∫—Ü–∏—è –¥–æ–ª–∂–Ω–∞ –≤–µ—Ä–Ω—É—Ç—å –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π np.array –æ–±—ä–µ–∫—Ç —Å –æ—Ü–µ–Ω–µ–Ω–Ω—ã–º–∏  ùõΩ1,...,ùõΩùëõ,ùõΩ0 

–†–µ–∞–ª–∏–∑—É–π—Ç–µ —Ä–µ—à–µ–Ω–∏–µ —á–µ—Ä–µ–∑ –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–µ —Ä–µ—à–µ–Ω–∏–µ –≤ –º–∞—Ç—Ä–∏—Ü–∞—Ö –∏–∑ –ª–µ–∫—Ü–∏–∏ –∏ –ø—Ä–∞–∫—Ç–∏–∫–∏:

ùõΩ‚àó=(ùëãùëá‚ãÖùëã)‚àí1‚ãÖùëãùëá‚ãÖùëå

In [4]:
def LinearRegressionByMatrix(X: np.array, Y: np.array, fit_intercept: bool = True):
    X = np.c_[X, np.ones(X.shape[0])]
    return np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), Y)

In [5]:
X_train = df.drop(['trip_duration', 'pickup_datetime', 'id'], axis = 1).values
Y_train = df['trip_duration'].values

print(X_train)
print(Y_train)

[[  1.         930.39975328   0.           1.50047895]
 [  0.         930.39975328   0.           1.80711941]
 [  1.         930.39975328   0.           6.39208025]
 ...
 [  1.         930.39975328   0.           7.83295239]
 [  0.         930.39975328   0.           1.09378613]
 [  0.         930.39975328   0.           1.13545341]]
[ 455.  663. 2124. ...  764.  373.  198.]

In [6]:
LinearRegressionByMatrix(X_train, Y_train, fit_intercept = True)

array([198.46313674,   0.29631295,  56.46912165, 115.27353763,
       171.65658145])